<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Login</h2>
    <form method="POST" action="/login">
        <input type="text" name="email" placeholder="Correo electrónico" required><br>
        <input type="password" name="password" placeholder="Contraseña" required><br>
        <button type="submit">Iniciar Sesión</button>
    </form>
    <a href="/register">¿No tienes cuenta? Regístrate</a>
</body>
<% if (typeof success !== 'undefined' && success === 'true') { %>
    <p style="color: green;">Usuario registrado con éxito. Ahora puedes iniciar sesión.</p>
<% } %>
</html>